<div class="flex flex-row items-center w-fit p-6 mx-auto gap-x-4">
  <input
    class="placeholder:text-slate-800 text-xl pt-4 pl-2 bg-cyan-200 pr-2 pb-4 rounded outline-none duration-100 focus:shadow focus:shadow-cyan-200"
    type="text"
    placeholder="Nombre de la planta"
    [(ngModel)]="plant.name"
  />

  <app-image-selector
    (typeSelected)="selectType($event)"
    [type]="plant.type"
  ></app-image-selector>

  <div class="flex flex-row gap-x-4">
    <i
      class="fa-solid fa-xmark text-xl p-1 bg-red-600 text-slate-50 w-fit h-fit rounded duration-200 hover:scale-105"
      (click)="clearForm()"
      id="clearForm"
    ></i>
    <i
      class="fa-solid fa-check text-xl p-1 bg-green-500 text-slate-50 w-fit h-fit rounded duration-200 hover:scale-105"
      (click)="savePlant()"
      id="savePlant"
    ></i>
  </div>
</div>
